.container {
  width: calc(100vw-20rem);
  height: 120vh;
  overflow: scroll;
}

.trafficInfoContainer {
  width: 80vw;
  display: flex;
  gap: 0 1.6rem;
}

.trafficInfoItem {
  flex-direction: row;
  flex: 1;
}

.areaNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
  width: 80vw;
}

h2 {
  max-width: 12rem;
  min-width: 12rem;
  text-align: center;
}