import { React } from 'react'
import style from './{{pascalCase name}}.module.css'
export const {{ pascalCase name }} = (props) => {
    return (
        <div></div>
    )
}

{{pascalCase name}}.propTypes = {

}