.hwrapper {
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 0.1rem #ababab
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1.6rem 2.4rem;
}

.leftcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listiconbutton {
  padding: .5rem;
  margin-left: 1.6rem;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.listiconbutton:hover {
  background-color: rgb(238, 238, 238);
}

.listicon {
  font-size: 2.4rem;
  color: #595959;
}


.title {
  margin-left: 1.6rem;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

ul li {
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 1.2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  margin-right: 1.6rem;
  font-size: 1.6rem;
}
