.container {
  width: 100vw;
  height: inherit;
}

.mainarea {
  display: flex;
  flex-direction: row;
  height: inherit;
  margin: auto;
}

.main {
  order: 1;
  overflow: scroll;
  width: 80vw;
  height: calc(100vh - (10rem + 2.4rem));
}

.sidebar {
  width: 20rem;
  order: 0;
  height: 20vw;
}