html {
  font-size: 62.5%; /* -> 10px */ 
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}