.listiconbutton {
  padding: .5rem;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.6rem;
}

.listiconbutton:hover {
  background-color: rgb(238, 238, 238);
}

.listicon {
  font-size: 2rem;
  color: #595959;
}